<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the chu van huy
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>